@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  background: #191765;
  margin: 0;
  padding: 0;
}

.horizontalline {
  height: 0;
  width: 100%;
  border: 1px solid #646369;
  top: calc(50% - 0px / 2 + 0.5px);
}

.social-icons {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-device-width: 600px) {
  
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    gap: 196.33px;
    width: 100%;
    align-items: center;
  }

  .navname {
    margin: 0 0 0 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #7d73fc;
    text-align: center;
    letter-spacing: 0.37px;
  }
  
  .jobtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    color: #edecff;
    border: 2px solid red;
  
  }
  
  .introbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px solid red;
  }
  
  .introparagraph {
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    margin: 40px 0 33px 0;
  }

  li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #f5f5ff;
    margin-bottom: 20px;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #9490ff;
    margin-bottom: 24.5px;
  }

  .firstpage {
    width: 100%;
    display: flex;
    margin: 15% auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .leftcircle {
    position: absolute;
    width: 160px;
    height: 160px;
    left: -106px;
    top: 0;
    background: #edecff;
    filter: blur(50px);
  }

  .rightcircle {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 339px;
    top: 495px;
    background: #edecff;
    filter: blur(50px);
  }

  .skillset {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skillsetone,
  .skillsettwo,
  .skillsetthree {
    width: 50%;
  }

  .social-icons {
    margin-top: 58px;
  }

  .work-icon-one {
    display: none;
  }

  .work-icon {
    text-align: center;
  }

  .workHeadingMain {
    width: 375px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #9490ff;
    margin: 80px 24px 33px 24px;
  }

  .horizontallinemobile {
    height: 0;
    width: 100%;
    border: 1px solid #646369;
    top: calc(50% - 0px / 2 + 0.5px);
  }

  .horizontallinedesktop {
    display: none;
  }

  .workGridContainer {
    width: 375px;
    margin: 40px 24px 0 24px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .secondpage {
    display: flex;
    flex-wrap: wrap;
  }

  .workimage {
    margin: 80px 0 24px 0;
  }

  .workheading {
    height: 105px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    display: flex;
    color: #fff;
  }

  .worktext {
    height: 204px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .languagesFlexContainer {
    padding-left: 10px;
    display: flex;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
  }

  .languages {
    border-right: 2px solid #555;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-right: 20px;
  }

  .languagestwo {
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .leftsidebar {
    position: absolute;
    width: 39.61px;
    height: 482.57px;
    left: 52.04px;
    top: 1524.71px;
    background: #edecff;
    filter: blur(50px);
    transform: rotate(-36.38deg);
  }

  .projectButton {
    margin-top: 24px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .rightsidebar {
    position: absolute;
    width: 70.28px;
    height: 261.6px;
    left: 320px;
    top: 2325.23px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .thirdparagraph {
    position: absolute;
    width: 308px;
    height: 155px;
    left: -93px;
    top: 3174px;
    background: rgba(237, 236, 255, 0.3);
    filter: blur(50px);
  }

  .fourthparagraph {
    position: absolute;
    width: 101.29px;
    height: 350.04px;
    left: 258.22px;
    top: 3800px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }

  .footer-form {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #9390ff;
  }

  .contact-details {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f5ff;
  }

  .item1,
  .item2 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    min-width: 300px;
    height: 48px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-left: 14px;
  }

  .item3 {
    min-width: 300px;
    height: 148px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    padding-top: 12px;
    padding-left: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .footerButtonBox {
    text-align: center;
    width: 100%;
  }

  .footerButton {
    margin-top: 20px;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .footer-email {
    position: relative;
    top: -20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    text-decoration: none;
    padding-bottom: 20px;
  }
}



@media only screen and (min-device-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .navicon {
    display: none;
  }

  .navbar{
    position: fixed;
    top: 0;
  }

  .titleName {
    margin-top: 186px;
  }

  .name {
    height: 96px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    color: #9391FF;
  }

  .jobtitle {
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-top: 24px;
    color: #dfe1e6;
    text-align: center;
  }

  .firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .introbox {
    width: 28%;
    margin-top: 88px;
  }

  .introparagraph{
    margin-bottom: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #B3BAC5;
  }

  .skillset {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 37px;
  }

  .skillsetone,
  .skillsettwo,
  .skillsetthree {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #9390FF;
    margin-bottom: 24.5px;
  }

  .social-media {
    display: flex;
    margin-top: 100px;
    width: 70%;
    justify-content: space-between;
  }

  .workHeadingMain {
    margin-top: 220px;
    margin-bottom: 33px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    color: #9390FF;
  }

  .horizontallinemobile {
    display: none;
  }

  .horizontallinedesktop {
    height: 0;
    width: 80%;
    border: 1px solid #646369;
    top: calc(50% - 0px / 2 + 0.5px);
  }

  .workGridContainer {
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .secondpage {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 24px;
    row-gap: 24px;
  }

  .workimage {
    grid-row-start: 1;
    grid-row-end: 6;
    margin-top: 90px;
  }

  .img {
    max-width: 100%;
    height: 100%;
  }

  .workheading {
    margin-top: 140px;
    height: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .worktext {
    min-height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #DFE1E6;
  }

  .languagesFlexContainer {
    padding-left: 10px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
  }

  .languages {
    border-right: 2px solid #555;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding-right: 20px;
    line-height: 20px;
  }

  .languagestwo {
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
  }

  .projectButton {
    margin-top: 24px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    max-width: 110px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .footer-form {
    width: 100%;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-heading {
    width: 45%;
  }
  .contact-heading {
    text-align: center;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;    
    color: #9390FF;
  }

  .contact-details {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #EBEBFF;
  }

  .footer-input-form {
    margin-top: 88px;
    width: 45%;
  }

  .item1,
  .item2 {
    width: 97%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    height: 48px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding-left: 14px;
  }

  .item3 {
    width: 97.5%;
    height: 148px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    padding-top: 12px;
    padding-left: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .footerButtonBox {
    text-align: center;
    width: 100%;
  }

  .footerButton {
    margin-top: 20px;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .horizontal-line-footer {
    margin-top: 100px;
    height: 0;
    width: 100%;
    border: 1px solid #646369;
    top: calc(50% - 0px / 2 + 0.5px);
  }

  .footer-email {
    position: relative;
    top: -6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    text-decoration: none;
  }

  .social-media-footer {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 27.5%;
  }

}