@media only screen and (max-width: 720px) {
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100&display=swap');

  * {
    background: #191765;
    margin: 0;
    padding: 0;
  }


  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    gap: 196.33px;
    width: 100%;
    align-items: center;
  }

  .navname {
    margin: 0 0 0 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .firstpage {
    width: 375px;
    margin: 139px 24px 12px 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #7d73fc;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .jobtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    color: #edecff;
  }

  .leftcircle {
    position: absolute;
    width: 160px;
    height: 160px;
    left: -106px;
    top: 0;
    background: #edecff;
    filter: blur(50px);
  }

  .rightcircle {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 339px;
    top: 495px;
    background: #edecff;
    filter: blur(50px);
  }

  .introbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .introparagraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    margin: 40px 0 33px 0;
  }

  .skillset {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skillsetone,
  .skillsettwo,
  .skillsetthree {
    width: 50%;
  }

  li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #f5f5ff;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #9490ff;
    margin-bottom: 24.5px;
  }

  .horizontalline {
    height: 0;
    width: 100%;
    border: 1px solid #646369;
    top: calc(50% - 0px / 2 + 0.5px);
  }

  .social-icons {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    margin-top: 58px;
  }

  .work-icon {
    text-align: center;
  }

  .workHeadingMain {
    width: 375px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #9490ff;
    margin: 80px 24px 33px 24px;
  }

  .workGridContainer {
    width: 375px;
    margin: 40px 24px 0 24px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .secondpage {
    display: flex;
    flex-wrap: wrap;
  }

  .workimage {
    margin: 80px 0 24px 0;
  }

  .workheading {
    height: 105px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    display: flex;
    color: #fff;
  }

  .worktext {
    height: 204px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .languagesFlexContainer {
    padding-left: 10px;
    display: flex;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
    align-content: center;
  }

  .languages {
    border-right: 2px solid #555;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-right: 20px;
  }

  .languagestwo {
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .leftsidebar {
    position: absolute;
    width: 39.61px;
    height: 482.57px;
    left: 52.04px;
    top: 1524.71px;
    background: #edecff;
    filter: blur(50px);
    transform: rotate(-36.38deg);
  }

  .projectButton {
    margin-top: 24px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .rightsidebar {
    position: absolute;
    width: 70.28px;
    height: 261.6px;
    left: 320px;
    top: 2325.23px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .thirdparagraph {
    position: absolute;
    width: 308px;
    height: 155px;
    left: -93px;
    top: 3174px;
    background: rgba(237, 236, 255, 0.3);
    filter: blur(50px);
  }

  .fourthparagraph {
    position: absolute;
    width: 101.29px;
    height: 350.04px;
    left: 258.22px;
    top: 3800px;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }

 .footer-form {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
} 

.contact-heading {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
text-align: center;
color: #9390FF;
}

.contact-details {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #f5f5ff;
}

.item1,
.item2 {
  left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #fff;
min-width: 300px;
height: 48px;
margin-bottom: 0px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
padding-left: 14px;
}

.item3 {
  min-width: 300px;
  height: 148px;
  left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #fff;
padding-top: 12px;
padding-left: 12px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
}

.footerButtonBox {
  text-align: center;
  width: 100%;
}
.footerButton {
    margin-top: 20px;
    padding: 12px;
    gap: 10px;
    background: #7d73fc;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
}

.footer-email {
  position: relative;
  top: -20px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #EBEBFF;
text-decoration: none;
padding-bottom: 20px;
}

}